body {
    background:#f5f5dc;
    margin:0;
}

h4 {
    color: #004477;
    text-align:center;
    font-size:18px;
}

#content {
    padding:8px;
}

#index_content {
    background:#f5f5dc;
    width:1200px;
    margin:auto;
    padding:8px;
}

#index_content table {
    margin:auto;
}

#header {
    color:#999999;
    padding:8px;
    background:#333333;
    height:30px;
    line-height:30px;
}

a:visited {
    color: rgb(153, 153, 153);
}

table td {
    width: 200px;
}

table tr:nth-child(even) {
    background-color:#eed9c4;
}

table tr:nth-child(odd) {
    background-color:#eed9c4;
}

figure {
    display:inline-block;
    background:#f5f5dc;
    text-align:center;
}

figure img {
    max-width:200px;
}

.center_div {
    margin:auto;
    width:1000px;
    padding:8px;
    background:#f5f5dc;
}

.center_form {
    margin:auto;
    width:800px;
    padding:8px;
    background:#ffffff;
}

hr {
    border:1px solid #ffffff;
}